{% extends 'base.html.twig' %}

{% block title %}{{ 'form.registration.title'|trans({'%department%': department}) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <h1 class="mb-3">{{ 'form.registration.department_label'|trans({'%department%': department}) }}</h1>

            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        {{ message|trans }}
                    {% endfor %}
                </div>
            {% endfor %}

            {{ form_start(form, {'attr': {'class': 'needs-validation'}, 'method': 'post'}) }}
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form_label(form.name) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form_label(form.email) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-4">
                    <div class="form-check">
                        {{ form_widget(form.plusOne, {'attr': {'class': 'form-check-input'}}) }}
                        <label class="form-check-label">{{ form_label(form.plusOne) }}</label>
                        {{ form_errors(form.plusOne) }}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form_label(form.numberOfKids) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.numberOfKids, {'attr': {'class': 'form-control', 'min': 0}}) }}
                    {{ form_errors(form.numberOfKids) }}
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form_label(form.numberOfVegetarians) }}</label>
                <div class="col-sm-8">
                    {{ form_widget(form.numberOfVegetarians, {'attr': {'class': 'form-control', 'min': 0}}) }}
                    {{ form_errors(form.numberOfVegetarians) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-8 offset-sm-4">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
